.header {
  position: relative;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    @include mq(tablet) {
      justify-content: start;
    }
  }
}
.menu-open-btn {
  position: absolute;
  display: block;
  border: none;
  background-color: transparent;
  top: 20px;
  @include mq(mobile) {
    left: 10px;
    // margin-right: auto;
    width: 30px;
    height: 30px;
  }
  @include mq(tablet) {
    left: 200px;
  }

  @include mq(hd) {
    display: none;
  }
}
